---
pageTitle: Tic-Tac-Toe V2
layout: layout.liquid
---


<!--header section start-->
<section class="w-11/12 max-w-xl mx-auto">
    <div class="text-center text-blue-900">
        <h1 class="text-4xl md:text-6xl font-bold border-b-8 border-blue-900">
            Tic Tac Toe-V2
        </h1>

        <h1 class="text-2xl md:text-4xl font-semibold italic mt-12">
            Choose your difficulty
        </h1>

        <div class="flex flex-col md:flex-row items-center justify-center mt-6">
            <button class="flex items-center justify-center text-lg md:text-2xl w-full md:w-48 h-12 bg-green-600 border-4 border-green-600 hover:border-green-800 hover:bg-green-800 text-white tracking-wider focus:outline-none difficulty">
                EASY
            </button>

            <button class="flex items-center justify-center text-lg md:text-2xl w-full md:w-48 h-12 bg-orange-600 border-4 border-orange-600 hover:border-orange-800 hover:bg-orange-800 text-white tracking-wider my-2 mx-12 focus:outline-none difficulty">
                MEDIUM
            </button>

            <button class="flex items-center justify-center text-lg md:text-2xl w-full md:w-48 h-12 bg-red-600 border-4 border-red-600 hover:border-red-800 hover:bg-red-800 text-white tracking-wider focus:outline-none difficulty">
                IMPOSSIBLE
            </button>
        </div>
    </div>
</section>
<!--header section end-->


<!--Game board section start-->
<section class="py-12">
    <div id="board" class="grid grid-cols-3 grid-rows-3 w-5/6 max-w-3xl mx-auto">
        <div class="boxes border-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-b-4 border-t-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-l-4 border-r-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-l-4 border-r-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-t-4 border-b-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>

        <div class="boxes border-4 border-blue-900 hover:bg-teal-300 cursor-pointer">
            <div class="x">
                <div class="x1 h-2 bg-teal-700 mx-auto rounded-full"></div>
                <div class="x2 h-2 bg-teal-700 mx-auto rounded-full"></div>
            </div>

            <div class="o m-auto rounded-full border-8 border-teal-700"></div>
        </div>
    </div>
</section>
<!--Game board section end-->

<section id="endGameBanner" class="flex items-center justify-center absolute w-11/12 max-w-6xl mx-auto inset-x-0 text-center rounded-full z-50">
    <div class="flex">
        <img src="../img/fireworks.gif"/>
        <img src="../img/fireworks.gif"/>
    </div>

    <div class="mx-12">
        <div id="Xwinner1" class="h-2 bg-white mx-auto rounded-full"></div>
        <div id="Xwinner2" class="h-2 bg-white mx-auto rounded-full"></div>
        <div id="Owinner" class="m-auto rounded-full border-8 border-white"></div>
        <h1 class="text-5xl text-white font-bold">
            Winner
        </h1>
    </div>

    <div class="flex">
        <img src="../img/fireworks.gif"/>
        <img src="../img/fireworks.gif"/>
    </div>
    
</section>


<script src="../js/main.js"></script>